<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- TODO: enable component scan for classes in school package -->

    <!-- TODO: define bean of StudentFactory with set injection for 3 students -->

    <!-- TODO: define bean of Student with name=Harry and id=student1 -->

    <!-- TODO: define bean of Student with name=Ron and id=student2 -->

    <!-- TODO: define bean of Student with name=Hermione and id=student3 -->

    <!-- TODO: define bean of BenchFactory with list injection for 2 benches -->

    <!-- TODO: define bean of Bench -->

    <!-- TODO: define another bean of Bench -->

</beans>